.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 2rem;
}

.left {
  .logo {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;

    &:hover {
      color: #ccc;
    }
  }
}

.right {
  display: flex;
  gap: 1rem;

  .navLink {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;

    &:hover {
      color: #ccc;
    }
  }
}
